<app-modal [users]="users"
           (savedChanges)="onFilterUsersAction($event)"></app-modal>

<div class=" row body">
    <div class="col-lg-6 col-12">
        <div class="row">
            <div class="col-10">
                <div class="card card-news">
                    <div class="card-body card-news-body">
                        <div class="card-empty"
                             *ngIf="users?.length===0">No doctors found!</div>
                        <ul class="list-group"
                            *ngFor="let user of users">
                            <li class="list-group-item"
                                *ngIf="user.role==='DOCTOR'">
                                <app-doctors [user]="user"></app-doctors>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-2 ">
                <div class="row filter-row">
                <svg (click)="resetFilters()"
                     xmlns="http://www.w3.org/2000/svg"
                     >
                    <path fill="currentColor"
                          d="M14.76 20.83L17.6 18l-2.84-2.83l1.41-1.41L19 16.57l2.83-2.81l1.41 1.41L20.43 18l2.81 2.83l-1.41 1.41L19 19.4l-2.83 2.84l-1.41-1.41M12 12v7.88c.04.3-.06.62-.29.83a.996.996 0 0 1-1.41 0L8.29 18.7a.989.989 0 0 1-.29-.83V12h-.03L2.21 4.62a1 1 0 0 1 .17-1.4c.19-.14.4-.22.62-.22h14c.22 0 .43.08.62.22a1 1 0 0 1 .17 1.4L12.03 12H12Z" />
                </svg>
            </div>
                <!-- <div class="row"><span class="material-icons search"
                    (click)="resetFilters()"
                    >filter-remove</span></div> -->

                <span class="material-icons search"
                      (click)="toggleExpanded()"
                      [class.expanded]="isExpanded">search</span>
                <div class="d-flex">

                    <div *ngIf="isExpanded">
                        <input [(ngModel)]="searchTerm"
                               (ngModelChange)="search()"
                               type="text"
                               class="form-control rounded"
                               placeholder="Search"
                               aria-label="Search"
                               aria-describedby="search-addon">
                    </div>



                </div>
            </div>



        </div>

    </div>

    <div class="col-md-6 col-12 d-flex justify-content-end card-container align-items-center">

        <div class="row card2">
            <div class="two">
                <h1>Create a Post
                    <span>So every doctor can solve your case</span>
                </h1>
            </div>

            <div class="card post-card">
                <div class="card-body post-card-body">
                    <img *ngIf="!image"
                         id="profile-img"
                         src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                         class="profile-img-card" />
                    <img *ngIf="image"
                         [src]="image"
                         class="profile-img-card"
                         name="image" />
                    <input type="file"
                           class="form-control form-element mb-3"
                           id="customFile"
                           name="image"
                           (change)="onFileChanged($event)" />
                    <form (ngSubmit)="createPost()"
                          #formRef="ngForm">

                        <input type="text"
                               class="form-control form-control-lg form-element mb-3"
                               placeholder="Describe it..."
                               type="text"
                               id="message"
                               [(ngModel)]="message"
                               name="message">

                        <select name="domain"
                                class="form-select form-select-lg form-element"
                                [(ngModel)]="domain">
                            <option disabled
                                    selected
                                    value>Select domain</option>
                            <option *ngFor="let option of domains"
                                    [value]="option">{{ option }}</option>
                        </select>
                    </form>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12 mb-3 d-flex justify-content-center">
                        <button class="btn btn-danger me-3 centered-button"
                                type="button"
                                (click)="onCancel()">
                            <mat-icon>cancel</mat-icon>Cancel
                        </button>
                        <button class="btn btn-success text-white centered-button"
                                type="submit"
                                (click)="createPost()">
                            <mat-icon>add_box</mat-icon>Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>