<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 d-flex justify-content-center">
            <div class="card">
                <form (ngSubmit)="createPost()"
                      #formRef="ngForm">
                    <div class="card-body">
                        <img *ngIf="!image"
                             id="profile-img"
                             src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                             class="profile-img-card" />
                        <img *ngIf="image"
                             [src]="image"
                             class="profile-img-card"
                             [(ngModel)]="image"
                             name="image" />
                        <input type="file"
                               class="form-control form-element mb-3"
                               id="customFile"
                               [(ngModel)]="image"
                               name="image"
                               (change)="onFileChanged($event)" />

                        <input type="text"
                               class="form-control form-control-lg form-element mb-3"
                               placeholder="Type description"
                               type="text"
                               id="message"
                               [(ngModel)]="message"
                               name="message">
                        <!-- <mat-form-field class="form-element">
                            <mat-label>Domain</mat-label>
                            <mat-select [(value)]="domain"
                                        [(ngModel)]="domain"
                                        name="domain">
                                <mat-option *ngFor="let domain of domains"
                                            [value]="domain">
                                    {{domain}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <select class="form-select form-select-lg mb-2 form-element"
                                aria-label=".form-select-lg example">
                            <option selected
                                    [value]="domain"
                                    [(ngModel)]="domain"
                                    name="domain">Choose domain</option>
                            <option *ngFor="let domain of domains"
                                    [value]="domain">{{domain}}</option>
                        </select>
                    </div>
                </form>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12 mt-3 d-flex justify-content-center">
                        <button class="btn btn-primary me-3"
                                type="button"
                                (click)="onCancel()">Anulare</button>
                        <button class="btn btn-success text-white"
                                type="submit"
                                (click)="createPost()">Adaugare</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>