<div class="row g-0"
     style=" display: flex;">
  <!-- Ensure the row takes full height -->
  <div class="col-md-4">
    <div class="card text-center text-white p-4 h-75 m-5"
         style="border-radius: .5rem; background-color: #a3bbb9; min-height: fit-content;">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img [src]="profileImage"
             alt="avatar"
             [ngClass]="{'enlarge': isHovered}"
             (mouseover)="isHovered = true"
             (mouseleave)="isHovered = false"
             class="profile-image mb-3"
             style="border-radius: 20%; width: 120px; height: 120px; object-fit: cover;">

        <p class="mt-2 text-black"
           style="font-size: 1.2rem; font-weight: bold;">
          {{ firstName }} {{ lastName }}
        </p>

        <!-- Styled Buttons -->
        <button (click)="generatePDF()"
                class="btn btn-light btn-sm my-2 w-75 d-flex align-items-center justify-content-center gap-2">
          <mat-icon>picture_as_pdf</mat-icon> Generate PDF
        </button>

        <button (click)="patientFile()"
                class="btn btn-light btn-sm my-2 w-75 d-flex align-items-center justify-content-center gap-2">
          <mat-icon>assignment_ind</mat-icon> Patient File
        </button>

        <button (click)="patientFileHistory()"
                class="btn btn-light btn-sm my-2 w-75 d-flex align-items-center justify-content-center gap-2">
          <mat-icon>history</mat-icon> Patient File History
        </button>
        <button (click)="openPatientRaport()"
                class="btn btn-light btn-sm my-2 w-75 d-flex align-items-center justify-content-center gap-2">
          <mat-icon>local_hospital</mat-icon> Raport
        </button>

        <i class="far fa-edit mt-3 text-white"></i>
      </div>
    </div>
  </div>


  <div class="col-md-8"
       style="display: flex; flex-direction: column; height: 100%;">
    <div class="container py-5 ">



      <div class="card"
           id="chat3"
           style="border-radius: 15px; margin-bottom: 20px;"
           *ngIf="posts && posts?.length!>0">
        <div class="card-body tables-color">
          <h4>Posts</h4>
          <div class="row">
            <div class="col-12 mb-4 mb-md-0"
                 style="max-height: 300px;">
              <div class="table-container"
                   style="flex-grow: 1; overflow-y: auto;">
                <mat-table [dataSource]="dataSource"
                           class="mat-elevation-z8">
                  <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
                    <mat-cell *matCellDef="let post"> {{ post.position }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="domain">
                    <mat-header-cell *matHeaderCellDef> Domain </mat-header-cell>
                    <mat-cell *matCellDef="let post"> {{ post.domain }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="message">
                    <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
                    <mat-cell *matCellDef="let post"> {{ post.message }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                    <mat-cell *matCellDef="let post"><img [src]="post.image"
                           alt="avatar 1"
                           [ngClass]="{'enlarge': isHovered}"
                           (mouseover)="isHovered = true"
                           (mouseleave)="isHovered = false"> </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                    <mat-cell *matCellDef="let post"> {{ post.date | date: 'short' }} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="card"
           id="chat3"
           style="border-radius: 15px;"
           *ngIf="appointments && appointments?.length!>0">
        <div class="card-body">
          <h4>Appointments</h4>
          <div class="row">
            <div class="col-12 mb-4 mb-md-0"
                 style="max-height: 300px;">
              <div class="table-container"
                   style="flex-grow: 1; overflow-y: auto;">
                <mat-table [dataSource]="dataSourceAppointments"
                           class="mat-elevation-z8">
                  <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
                    <mat-cell *matCellDef="let appointment"> {{ appointment.position }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="domain">
                    <mat-header-cell *matHeaderCellDef> Doctor </mat-header-cell>
                    <mat-cell *matCellDef="let appointment"> {{ appointment.idDoctor | doctorName }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="message">
                    <mat-header-cell *matHeaderCellDef> Hospital </mat-header-cell>
                    <mat-cell *matCellDef="let appointment"> {{ appointment.idMarker | markerName}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                    <mat-cell *matCellDef="let appointment"> {{ appointment.date | date: 'short' }} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

              </div>

            </div>



          </div>
        </div>



      </div>

    </div>
  </div>