#chat3 .form-control {
  border-color: transparent;
}

#chat3 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -0.75rem;
}

/* .container{
    margin-left: 220px;
} */
section {
  background-image: url("https://img.freepik.com/free-photo/blur-hospital-clinic-interior_1203-8618.jpg?w=1480&t=st=1684226874~exp=1684227474~hmac=2d8f7ee2ec6f631baee8be3074d2136f70863f794ec496becb3c170eb515c77e");
  background-size: 100%;
  background-size: cover;
}
