.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  background: linear-gradient(90deg, #505f5d 0%, #61786f 39%, #a3d3c3 100%);

}
.badge{
  display: flex;
  align-items: center;
}
img {
  /* margin-top: 10px; */
  border-radius: 2rem;
}

@media only screen and (max-width: 575px) {
  .gradient-custom {
    height: 200px;
  }
  img {
    width: 90px !important;
  }
}

@media screen and (min-width: 575px) {
  .image{
    margin-top: 20px;
  }
}
