<div class="row">
  <div class="col-md-12">
    <div class="card-body p-4">
      <h6>Patient Name:</h6>
      <div class="row pt-1">
        <div class="col-6 mb-3">

          <p class="text-muted">{{loggedUser?.firstName}}</p>
        </div>

      </div>
      <h6>Doctor:</h6>

      <div class="row pt-1">
        <div class="col-6">
          <p class="text-muted">{{doctor?.firstName}}</p>
        </div>

      </div>
      <h6>Date:</h6>

      <div class="row pt-1">
        <div class="col-12">
          <p class="text-muted">{{appointment?.date}}</p>
        </div>

      </div>
      <h6>Status:</h6>

      <div class="row pt-1">
        <div class="col-12">
          <p class="text-muted">{{appointment?.status}}</p>
        </div>

      </div>
      <select name="marker"
              class="form-select form-select-lg form-element"
              [(ngModel)]="marker" *ngIf="appointment?.idMarker === null">
        <option value=""
                disabled
                selected>Select a hospital</option>
        <option *ngFor="let option of options"
                [value]="option">{{ option }}</option>
      </select>
     
      <div class="d-flex justify-content-end">
        <button type="button"
                *ngIf="loggedUserRole!=='DOCTOR' && appointment?.status==='PENDING'"
                class="btn btn-danger"
                (click)="onDelete(appointment?.id!)">
          Delete
        </button>
        <button type="button"
                *ngIf="(loggedUserRole==='DOCTOR' && appointment?.status==='PENDING')||(appointment?.idMarker === null)"
                class="btn btn-success"
                (click)="onAccept(appointment?.id!)">
          Accept
        </button>
        <button type="button"
                *ngIf="loggedUserRole==='DOCTOR' && appointment?.status==='PENDING'"
                class="btn btn-danger"
                (click)="onRefuse(appointment?.id!)">
          Refuse
        </button>


      </div>
    </div>

  </div>