
<div class="col">
  <div class="row"
       *ngIf="selectedUser && selectedUser.id">
  </div>
  <form class="row g-3"
        [formGroup]="form"
        *ngIf="form">
    <div class="col-6 form-floating form-group">
      <input type="text"
             class="form-control"
             formControlName="firstName"
             adoValidationError="firstName"
             id="firstName" />
      <label for="firstName"
             class="form-label">Nume</label>
    </div>

    <div class="col-6 form-floating form-group">
      <input type="text"
             class="form-control"
             formControlName="lastName"
             adoValidationError="lastName"
             id="lastName" />
      <label for="lastName"
             class="form-label">Prenume</label>
    </div>

    <div class="col-6 form-floating form-group">
      <input type="text"
             class="form-control"
             formControlName="username"
             adoValidationError="username"
             id="numeUtilizator" />
      <label for="numeUtilizator"
             class="form-label">Nume Utilizator</label>
    </div>

    <div class="col-6 form-floating form-group">
      <input type="text"
             class="form-control"
             formControlName="email"
             adoValidationError="email"
             id="email" />
      <label for="email"
             class="form-label">Email</label>
    </div>

  </form>
  <div class="row">
    <div class="d-flex justify-content-end mt-5">
      <button class="btn btn-secondary"
              (click)="onClear()">
        Renunta
      </button>

      <button type="button" class="btn btn-primary" (click)="openModal()">Launch demo modal</button>
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal content goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

