<div class="d-flex flex-row justify-content-end"
     (click)="onSelectMessage()">
        <div>
                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{message!.message}} <img
                             *ngIf="message!.picture"
                             [src]="pictureMessage"
                             alt="message image"
                             style="max-width: 100%;"
                             class="messageImage"
                             [ngClass]="{'enlarge': isHovered}"
                             (mouseover)="isHovered = true"
                             (mouseleave)="isHovered = false"></p>
                <p class="small me-3 mb-3 rounded-3 text-muted">{{messageDate}}</p>
        </div>
        <img [src]="profileImageLoggedUser"
             alt="avatar 1"
             style="width: 60px;">
</div>
<button class="btn btn-danger centered-button m-1"
        *ngIf="selected==='true'"
        (click)="onDeleteMessage()"><mat-icon>delete</mat-icon>Delete</button>
<button class="btn btn-primary centered-button m-1"
        *ngIf="selected==='true'"
        (click)="onUnSelectMessage()"><mat-icon>cancel</mat-icon>Cancel</button>