.gradient-custom {
  background: #2b2d42;
  background: linear-gradient(90deg, #505f5d 0%, #61786f 39%, #a3d3c3 100%);
  margin-bottom: 20px;
  margin-top: 20px;
}
button {
  font-size: small;
  background-color: #505f5d;
  border: #505f5d;
}
button:hover {
  background-color: #a3d3c3;
}
button:active {
  background-color: #a3d3c3;
}
button:focus {
  background-color: #a3d3c3;
  border: #a3d3c3;
  box-shadow: 0 0 0 0.2rem #a5a58d;
}
:not(.btn-check) + .btn:active {
  background-color: #b7b7a4;
  border-color: #b7b7a4;
}
img {
  margin-top: 20px;
  height: 120px;
  width: 70px;
  border-radius: 1rem;
}

@media only screen and (max-width: 575px) {
  img {
    margin-top: 0px !important;
    height: 40px;
    width: 40px;
  }
  p {
    margin: 0px;
    font-size: 10px;
  }
  .enlarge:hover {
    transform: scale(2);
  }
  .gradient-custom {
    height: 50px;
    margin-bottom: 0px;
  }
  h4 {
    display: none;
  }
}
