<mat-toolbar color="primary">
    <p class="center-text">DocConnect &copy; 2023</p>

</mat-toolbar>
<footer class="text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Health</h5>

                <p>
                    "The greatest wealth is health." - Virgil, an ancient Roman poet. This quote emphasizes the
                    importance of good health as a fundamental foundation for a fulfilling and prosperous life.
                </p>
            </div>

            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact</h5>

                <p>
                    Email: danbadoiu@gmail.com,
                    Phone: 0746474934
                </p>
          
                <button type="button" class="btn" (click)="sendEmail()">Send Email</button>



            </div>
        </div>
    </div>


</footer>