<mat-toolbar color="primary"
             class="mat-bar">

   <span>
      <mat-icon>healing</mat-icon>DocConnect
   </span>
   <div [style.visibility]="'hidden'"></div>
   <div class="spacer"></div>

   <div class="dropdown d-block d-sm-none">
      <a mat-raised-button
         type="button"
         data-bs-toggle="dropdown"
         aria-expanded="false">
         <mat-icon>expand_more</mat-icon>
      </a>
      <ul class="dropdown-menu">
         <li><a mat-button
               routerLink="./home"
               *ngIf="loggedUserRole!=='DOCTOR'"
               [ngClass]="{'hover': isRouteActive('./home')}">Home</a></li>
         <li><a mat-button
                  routerLink="./patients-info"
                  *ngIf="loggedUserRole==='DOCTOR'"
                  [ngClass]="{'hover': isRouteActive('./patients-info')}">Patients Info</a></li>
                  <a mat-button [routerLink]="['/admin/patient-file', idLoggedUser]" routerLinkActive="active">Patient File</a>

         <li><a mat-button
               routerLink="./appointments"
               [ngClass]="{'hover': isRouteActive('./appointments')}">Appointments</a></li>

         <a mat-button
            routerLink="./messages"
            [ngClass]="{'hover': isRouteActive('./messages')}">Chat</a>
         <li><a mat-button
               routerLink="./posts"
               [ngClass]="{'hover': isRouteActive('./posts')}">Posts</a></li>
         <li><a mat-button
               routerLink="location"
               *ngIf="loggedUserRole!=='DOCTOR'"
               [ngClass]="{'hover': isRouteActive('location')}">Localize</a></li>
         <li><button mat-button
                    routerLink="profile">Profile</button></li>
         <li><button mat-button
                    routerLink="login"
                    (click)="onLogout()">Logout</button></li>



      </ul>
   </div>
   <div class="d-none d-sm-flex d-sm-block">
      <a mat-button
         routerLink="./home"
         *ngIf="loggedUserRole !== 'DOCTOR'"
         routerLinkActive="active">Home</a>
         <a mat-button
         routerLink="./patients-info"
         *ngIf="loggedUserRole==='DOCTOR'"
         routerLinkActive="active">Patients Info</a>
         <a mat-button [routerLink]="['/admin/patient-file', idLoggedUser]" routerLinkActive="active">Patient File</a>

      <a mat-button
         routerLink="./appointments"
         routerLinkActive="active">Appointments</a>
      <a mat-button
         routerLink="./messages"
         routerLinkActive="active">Chat</a>
      <a mat-button
         routerLink="./posts"
         routerLinkActive="active">Posts</a>
      <a mat-button
         routerLink="location"
         *ngIf="loggedUserRole!=='DOCTOR'"
         routerLinkActive="active"
         matTooltip="Localize the nearest hospital or add an apointment.">Localize</a>
      <div class="dropdown">
         <a mat-raised-button
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">{{userLogged}}
            <mat-icon>expand_more</mat-icon>
         </a>
         <ul class="dropdown-menu">
            <li><button mat-button
                       routerLink="profile"
                       routerLinkActive="active">Profile</button></li>
            <li><button mat-button
                       routerLink="login"
                       (click)="onLogout()"
                       routerLinkActive="active">Logout</button></li>
         </ul>
      </div>
   </div>


</mat-toolbar>