<mat-toolbar color="primary">
  <span><mat-icon>eco</mat-icon>Health</span>
  <div [style.visibility]="'hidden'"></div>
  <div class="spacer"></div>
  
  <a mat-button routerLink="./home" *ngIf="loggedUserRole!=='DOCTOR'" [ngClass]="{'hover': isRouteActive('./home')}">Acasa</a>
  <a mat-button routerLink="./appointments" [ngClass]="{'hover': isRouteActive('./appointments')}">Programari</a>

  <a mat-button routerLink="./messages" [ngClass]="{'hover': isRouteActive('./messages')}">Mesaje</a>
  <a mat-button routerLink="./posts" [ngClass]="{'hover': isRouteActive('./posts')}">Postari</a>
  <a mat-button routerLink="location" [ngClass]="{'hover': isRouteActive('location')}">Localizare</a>
  
  <div class="dropdown">
    <a mat-raised-button type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <mat-icon>expand_more</mat-icon>
    </a >
    <ul class="dropdown-menu">
      <li><button mat-button routerLink="profile">Profile</button></li>
      <li><button mat-button routerLink="login" (click)="onLogout()">Logout</button></li>
    </ul>
  </div>

</mat-toolbar>