<div class="row">
  <div class="col-12 col-sm-8">
    <div class="container">
      <div class="row scrollable-row">
        <div class="col-sm-4 col-12">
          <div class="card-columns">
            <div class="card"
                 *ngFor="let appointment of appointments">

              <app-appointment-detail [appointment]="appointment"
                                      (savedChanges)="onPostAction($event)"
                                      [markers]="markers"></app-appointment-detail>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="col-sm-4 col-12">
    <img class="favorite"
         src="https://media.licdn.com/dms/image/C4E12AQF7kSRej43TcQ/article-cover_image-shrink_600_2000/0/1623773838856?e=2147483647&v=beta&t=C0tiVM1-SAIpW6d5r-mmllOirJqhfMlxvf5zveWfBYU"
         alt="avatar 1"
         style="width: 90%; height: 60%;">
  </div>
</div>