<div class="card d-flex justify-content-start card-news">
  <div class="card-body card-news-body">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6"
           *ngFor="let appointment of appointments">
        <ul class="list-group">
          <li class="list-group-item"
              >
            <app-appointment-detail [appointment]="appointment"
                                    (savedChanges)="onPostAction($event)"></app-appointment-detail>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <ul class="list-group">
          <li class="list-group-item"
              *ngIf="!appointments">
            There are no posts!
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>