<div class="row g-0">
  <div class="col-md-4 text-center text-white"
       style=" border-radius: .5rem;">

    <img [src]="medicine?.image"
         alt="avatar 1"
         style="width: 300px; height: 80%;"
         >
    <i class="far fa-edit mb-5"></i>
  </div>
  <div class="col-md-8">
    <div class="card-body p-4">
      <h6>Name</h6>
      <hr class="mt-0 mb-4">
      <div class="row pt-1">
        <div class="col-6 mb-3">
          
          <p class="text-muted">{{medicine?.name}}</p>
        </div>
       
      </div>
      <h6>Information</h6>
      <hr class="mt-0">
      <div class="row pt-1">
        <div class="col-6">
          <p class="text-muted">{{medicine?.description}}</p>
        </div>
  
      </div>
      <div class="d-flex justify-content-start">
        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
      </div>
      <!-- Button trigger modal -->
      <div class="d-flex justify-content-end">
      <button type="button"
              class="btn btn-primary"
              (click)="onDelete(medicine?.id!)"
             >
        Remove
      </button>

    </div>
  </div>

</div>