img {
  width: 100px;
}
.card {
  background: #fbdfb2;
  -webkit-box-shadow: inset -1px 3px 8px 5px white, 2px 5px 16px 0px #aba99a,
    2px 2px 16px 8px rgba(188, 154, 108, 0.4);
  box-shadow: inset -1px 3px 8px 5px white, 2px 5px 16px 0px #aba99a,
    2px 2px 16px 8px rgba(188, 154, 108, 0.4);
    display: inline-block;
    height: 250px;
    width: 200px;
}
#search{
    max-width: 20%;
    margin-bottom: 10px;
}
.card:hover{
    width: 110%;
    height: 110%;
}