<!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script> -->
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css'
      rel='stylesheet' />
<div class="row m-1">
  <div class="col d-flex justify-content-center"><button class="btn btn-success text-white centered-button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="findClosestMarker()"><mat-icon>find_in_page</mat-icon>Find the closest hospital</button>
    <button class="btn btn-success text-white btn2 centered-button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal2"><mat-icon>add_box</mat-icon>Add an appointment</button>
  </div>

</div>

<div class="map-container"
     id='map'></div>
<div class="col-2">

  <div class="modal fade"
       #exampleModal
       id="exampleModal"
       tabindex="-1"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="exampleModalLabel"></h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  (click)="onCloseModal()"></button>
        </div>
        <div class="modal-body">
          <div class="div"
               *ngIf="this.closestMarker"><h2 class="text-center">{{this.closestMarkerName?.name}}</h2>

            <app-modal-for-appointment [idMarker]="closestMarkerName"></app-modal-for-appointment>
          </div>




        </div>
      </div>
    </div>
  </div>
  <div class="modal fade"
       #exampleModal2
       id="exampleModal2"
       tabindex="-1"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="exampleModalLabel"></h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  (click)="onCloseModal()"></button>
        </div>
        <div class="modal-body">

          <app-modal-for-appointment-without-hospital [markersList]="markersList">
          </app-modal-for-appointment-without-hospital>



        </div>
      </div>
    </div>
  </div>