

.list-group.list-group-flush {
  height: 400px;
  overflow-y: scroll;
}

.highlight-selected-user{
  background-color: gray;
  color: white;
}
.textarea {
  width: 250px;
  height: 130px;
}

.list-group-item {
  cursor: pointer;
}
.card{
    width: 600px;
    margin: 20px;
    
}