img{
    width: 150px;
}
.list-group {
    width: 100%;
  }
  .card-news {
    width: 100%;
    border-radius: 0%;
    background-color: rgba(5, 17, 152, 0.164);
  
  }
  .card-news-body {
    height: 100%;
    max-height: calc(100vh - 56px);
    overflow-y: scroll;
  }
  .list-group-item {
    height: 300px;
  }